version: "3"

services:
  api_server:
    build:
      context: .
      dockerfile: docker/server.dev.Dockerfile
    volumes:
      - "./:/app"
    environment:
      - APP_ENV=${APP_ENV}
      - DB_URL=${DB_URL}
    network_mode: "host"
